body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #444;
  color: #fff;
}

header {
  background: #1c75bc;
  color: #fff;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: #232323;
  padding-top: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 3.75px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border-bottom: 1px solid #444;
  transition: background 0.3s, color 0.3s;
  text-align: left;
}

nav ul li a:hover,
nav ul li a.active {
  background: #1c75bc;
  color: #fff;
}

main {
  margin-left: 220px;
  padding: 2em 1em;
}

h2,
h3 {
  color: #bebcbc;
}

section {
  background: #232323;
  padding: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section p,
section ul {
  text-align: left;
  max-width: 800px;
}

footer {
  background: #444;
  color: #bebcbc;
  text-align: center;
  padding: 1em 0;
  border-top: 1px solid #444;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}

.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50
