/* Unique color values */
/* #444;
#fff;
#232323;
#00cdff;
#bebcbc;
#1c75bc;
#e55440;
#febd1d;
#89d99d;
#575757;
#b3b3b3;
#d78d24;
rgba(35, 35, 35, 0.95);
rgba(0, 205, 255, 0.4);
rgba(254, 189, 29, 0.9); */

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #444;
  color: #fff;
}

header {
  background: #1c75bc;
  color: #fff;
  padding: 1em;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: #232323;
  padding-top: 0; /* Removes the gap at the top */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  overflow-y: auto; /* Allows scrolling if content is too long */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 1.9px;
}

nav ul li a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 9px;
  border-bottom: 1px solid #444;
  transition: background 0.3s, color 0.3s;
  text-align: center;
}

nav ul li a:hover,
nav ul li a.active {
  background: #1c75bc;
  color: #fff;8
}

main {
  margin-left: 220px; /* Space for the vertical nav */
  padding: 2em 1em;
}

h2,
h3 {
  color: #bebcbc;
}

section {
  background: #232323;
  padding: 1.5em;
  margin-bottom: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centers the text within each section */
}

section p,
section ul {
  text-align: left; /* Aligns paragraphs and lists to the left for better readability */
  margin: 0 auto;
  max-width: 800px; /* Limits the width of the content for better readability */
}

footer {
  background: #444;
  color: #bebcbc;
  text-align: center;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #444;
}

footer p {
  margin: 0;
  font-size: 0.9em;
}
